.container {
  height: 100%;
  display: grid;
  grid-template-rows: 20rem calc(100% - 2rem);
  overflow: auto;
}

.wrapper {
  height: 100%;
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-rows: 20px calc(100% - 20px);
}

.wrapper button {
  justify-self: start;
}

.editor {
  grid-row: 2;
  height: 100%;
  overflow: auto;
}

@media (min-width: 640px) {
}
