.container {
  height: 100%;
  display: grid;
  grid-template-rows: 20rem calc(100% - 2rem);
  overflow: auto;
}

.wrapper {
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  padding: 10px;
  display: grid;
  grid-template-rows: 20px calc(100% - 20px);
}

.wrapper button {
  justify-self: end;
  width: 30px;
  border: none;
  background-color: hsl(0, 0%, 90%);
}

.editor {
  grid-row: 2;
  height: 100%;
  overflow: auto;
  font-feature-settings: "quot" off;
}

@media (min-width: 640px) {
}
