.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  overflow: auto;
}

.header {
  grid-row: 1;
  grid-column: span 2;
  justify-self: center;
}

.creatorSelect {
  margin-top: 10px;
  height: 3rem;
  grid-column: 1;
  display: grid;
}

.writingSelect {
  margin-top: 5px;
  height: 3rem;
  grid-column: 1;
}

.titleInput {
  margin-top: 5px;
  height: 3rem;
  grid-column: 1;
}

.description {
  margin-top: 5px;
  grid-column: 1;
  display: grid;
  grid-template-rows: 1rem 9rem;
  gap: 10px;
}

.fontSelect {
  margin-top: 18px;
  height: 3rem;
}

.editor {
  margin-top: 5px;
  height: 4rem;
  overflow: hidden;
}

.editor div div {
  overflow: hidden;
}

.genreSelect {
  grid-column: 2;
}

.tagInput {
  padding: 5px;
  grid-column: 2;
}

.buttonBox {
}

.saveButton {
  margin: 5px 0px;
  grid-column: span 2;
  width: 3rem;
  height: 1.5rem;
}

.chapterSection {
  grid-column: span 2;
  width: 100%;
  margin-top: 10px;
  display: grid;
}

.chapterSection h2 {
  justify-self: center;
  margin: 10px 0px;
}

.chapterForm {
  display: grid;
}
