.container {
  grid-column: 2;
  width: 100%;
  height: 22rem;
  padding: 5px;
  padding-top: 10px;
}

.container label {
  margin-top: 5px;
  height: 1rem;
}

.container ul {
  margin-top: 5px;
  height: 17rem;
  overflow: auto;
}

.container li {
  list-style: none;
}

.selectedGenres {
  margin-top: 5px;
  height: 4rem;
  background-color: hsl(0, 0%, 95%);
}
