.container {
  grid-column: 2;
  width: 100%;
  height: 16rem;
  padding: 5px;
}

.container ul {
  height: calc(100% - 4rem);
  overflow: auto;
}

.container li {
  list-style: none;
}

.selectedGenres {
  height: 4rem;
  background-color: hsl(0, 0%, 95%);
}
