.container {
  display: grid;
  overflow: auto;
}

.chapterSection {
  width: 100%;
  margin-top: 10px;
  display: grid;
}

.chapterSection h2 {
  justify-self: center;
  margin: 10px 0px;
}

.chapterForm {
  display: grid;
}
