.appGrid {
  display: grid;
  grid-template-rows: 3.5rem calc(100% - 7rem) 3.5rem;
}

.sidebarGrid {
  display: grid;
}

@media (min-width: 640px) {
  .appGrid {
    grid-template-rows: 4rem calc(100% - 4rem);
  }

  .sidebarGrid {
    grid-template-columns: 10rem calc(100% - 10rem);
  }
}
