.appGrid {
  display: grid;
  grid-template-rows: 3rem calc(100% - 6rem) 3rem;
}

.sidebarGrid {
  display: grid;
}

@media (min-width: 640px) {
  .appGrid {
    grid-template-rows: 3rem calc(100% - 3rem);
  }

  .sidebarGrid {
    grid-template-columns: 10rem calc(100% - 10rem);
  }
}
